.projectImages {
  position: sticky;
  object-fit: cover;
}
.PosterAustellung {
  width: 70%;
  height: auto;
}

.Installation {
  width: 90%;
  height: auto;
}

.InstaMobile {
  width: 10%;
  height: auto;
}

.OpenBook {
  width: 100%;
  height: auto;
}

.Cover {
  width: 100%;
  height: auto;
}

.Installation_02 {
  width: 60%;
  height: auto;
}

.arialBlack {
  font-family: 'Arial Black';
  color: #0AFF00;
  font-size: 32px;
  line-height: 35px;
  padding-bottom: 0 ;
}

/* .bigTextStyle {
  color: red;
  font-size: 32px;
  line-height:35p;
  font-family: 'Arial ',
} */